## Cargamos las librerias

In [1]:
import pandas as pd
import numpy as np
import json
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

## Cargamos el archivo json y pasamos los datos a un dataframe

In [2]:
ruta_output= "Data2\output_steam_games.json"
## with open(ruta_output, 'r') as archivo:
##    datos_output = json.load(archivo)
# Este codigo no sirve dado que hay datos adicionales en el archivo JSON despuÃ©s de que se esperaba que finalizara el documento JSON.
# Por lo que se procede a leer linea por linea para extraer la informacion

with open(ruta_output, 'r') as archivo: #"r" indica que se abre en modo lectura y "with" garantiza que despues de su uso se cierre correctamente
    datos_output = [json.loads(line) for line in archivo]

# Transformamos a un dataframe
df_output = pd.DataFrame(datos_output)
df_output

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
120440,Ghost_RUS Games,"[Casual, Indie, Simulation, Strategy]",Colony On Mars,Colony On Mars,http://store.steampowered.com/app/773640/Colon...,2018-01-04,"[Strategy, Indie, Casual, Simulation]",http://steamcommunity.com/app/773640/reviews/?...,"[Single-player, Steam Achievements]",1.99,False,773640,"Nikita ""Ghost_RUS"""
120441,Sacada,"[Casual, Indie, Strategy]",LOGistICAL: South Africa,LOGistICAL: South Africa,http://store.steampowered.com/app/733530/LOGis...,2018-01-04,"[Strategy, Indie, Casual]",http://steamcommunity.com/app/733530/reviews/?...,"[Single-player, Steam Achievements, Steam Clou...",4.99,False,733530,Sacada
120442,Laush Studio,"[Indie, Racing, Simulation]",Russian Roads,Russian Roads,http://store.steampowered.com/app/610660/Russi...,2018-01-04,"[Indie, Simulation, Racing]",http://steamcommunity.com/app/610660/reviews/?...,"[Single-player, Steam Achievements, Steam Trad...",1.99,False,610660,Laush Dmitriy Sergeevich
120443,SIXNAILS,"[Casual, Indie]",EXIT 2 - Directions,EXIT 2 - Directions,http://store.steampowered.com/app/658870/EXIT_...,2017-09-02,"[Indie, Casual, Puzzle, Singleplayer, Atmosphe...",http://steamcommunity.com/app/658870/reviews/?...,"[Single-player, Steam Achievements, Steam Cloud]",4.99,False,658870,"xropi,stev3ns"
120444,NaN,NaN,Maze Run VR,NaN,http://store.steampowered.com/app/681550/Maze_...,NaN,"[Early Access, Adventure, Indie, Action, Simul...",http://steamcommunity.com/app/681550/reviews/?...,"[Single-player, Stats, Steam Leaderboards, HTC...",4.99,True,681550,NaN

In [3]:
df_output.columns

Index(['publisher', 'genres', 'app_name', 'title', 'url', 'release_date',
       'tags', 'reviews_url', 'specs', 'price', 'early_access', 'id',
       'developer'],
      dtype='object')

In [4]:
df_output.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120445 entries, 0 to 120444
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   publisher     24083 non-null  object
 1   genres        28852 non-null  object
 2   app_name      32133 non-null  object
 3   title         30085 non-null  object
 4   url           32135 non-null  object
 5   release_date  30068 non-null  object
 6   tags          31972 non-null  object
 7   reviews_url   32133 non-null  object
 8   specs         31465 non-null  object
 9   price         30758 non-null  object
 10  early_access  32135 non-null  object
 11  id            32133 non-null  object
 12  developer     28836 non-null  object
dtypes: object(13)
memory usage: 11.9+ MB

Observamos que todos nuestros tipos de datos son objetos

## Verficamos datos nulos

In [5]:
df_output.isnull().sum()

publisher       96362
genres          91593
app_name        88312
title           90360
url             88310
release_date    90377
tags            88473
reviews_url     88312
specs           88980
price           89687
early_access    88310
id              88312
developer       91609
dtype: int64

Eliminamos las filas que solo contienen valores nulos es decir que no aportan nada

In [6]:
df_output = df_output.dropna(how="all").reset_index(drop=True)

In [7]:
df_output.shape

(32135, 13)

Volvemos a verificar que variables tienen valores nulos y cuanto representan

In [8]:
cantidad_nulos= df_output.isnull().sum()
print(cantidad_nulos)

publisher       8052
genres          3283
app_name           2
title           2050
url                0
release_date    2067
tags             163
reviews_url        2
specs            670
price           1377
early_access       0
id                 2
developer       3299
dtype: int64

In [9]:
cantidad_filas = len(df_output)
porcentaje_nulos_columnas= (cantidad_nulos/cantidad_filas)*100
porcentaje_nonulos_columnas = 100 - porcentaje_nulos_columnas
resumen_nulos = pd.DataFrame({"Porcentaje de valores nulos":porcentaje_nulos_columnas, 
                              "Porcentaje de valores no nulos":porcentaje_nonulos_columnas})
resumen_nulos

              Porcentaje de valores nulos  Porcentaje de valores no nulos
publisher                       25.056792                       74.943208
genres                          10.216275                       89.783725
app_name                         0.006224                       99.993776
title                            6.379337                       93.620663
url                              0.000000                      100.000000
release_date                     6.432239                       93.567761
tags                             0.507235                       99.492765
reviews_url                      0.006224                       99.993776
specs                            2.084954                       97.915046
price                            4.285047                       95.714953
early_access                     0.000000                      100.000000
id                               0.006224                       99.993776
developer                       10.266065                       89.733935

## Filas duplicadas

En este caso la columna en la que se quiere verificar si tiene duplicados es la columna .
"id" dado que es una variable identificatoria de usuario