# Experimentación para la Elaboración de Funciones Cruciales para la API:
En esta fase, llevamos a cabo la creación y prueba de funciones esenciales para nuestra API, utilizando los datos disponibles. Este enfoque nos permite verificar la efectividad y eficiencia de las funciones en un entorno controlado. No obstante, al implementarlas finalmente, es posible que se requieran adaptaciones para cumplir con los requisitos específicos de FastAPI y Render.

In [2]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

## Funcion PlayTimeGenre

In [3]:
df_PlayTimeGenre = pd.read_csv("data2/df_PlayTimeGenre_hour.csv")
df_PlayTimeGenre.columns

Index(['main_genre', 'release_year', 'playtime_hour'], dtype='object')

In [4]:
def PlayTimeGenre( genero : str ):
    """
    Funcion que devuelve el año con mas horas jugadas para dicho género.
    """
    generos = df_PlayTimeGenre[df_PlayTimeGenre["main_genre"]== genero] #Filtramos en el dataframe el genero que fue solicitado
    if generos.empty:  #Con esta linea nos aseguramos que si para ese genero no hay resultado se notifique
        return f"No se encontraron datos para el género {genero}"
    año_max = generos.loc[generos["playtime_hour"].idxmax()] #Primero identificamos la fila (indice) que tiene la máxima cantidad de horas jugadas para el género dado y posteriormente se selecciona esa fila a partir del indice
    result = {
        'Genero': genero,
        'Año con Más Horas Jugadas': int(año_max["release_year"]),
        'Total de Horas Jugadas': año_max["playtime_hour"]
    }

    return result

In [10]:
PlayTimeGenre("Action")

{'Genero': 'Action',
 'Año con Más Horas Jugadas': 2013,
 'Total de Horas Jugadas': 6419735.3}

## Funcion UserForGenre

In [6]:
df_UserForGenre = pd.read_csv("data2\df_UsersForGenre2.csv")
df_UserForGenre.columns

Index(['user_id', 'main_genre', 'release_year', 'playtime_hour'], dtype='object')

In [7]:
def UserForGenre( genero : str ):
    """
    Funcion que devuelve el usuario que acumula más horas jugadas para el género dado 
    y una lista de la acumulación de horas jugadas por año.
    """
    generos2 = df_UserForGenre[df_UserForGenre["main_genre"]== genero]
    user_max = generos2.loc[generos2["playtime_hour"].idxmax()]["user_id"]
    horas_x_año = generos2.groupby(["release_year"])["playtime_hour"].sum().reset_index()
    horas_lista = horas_x_año.to_dict(orient="records")
    result2 = {
        "Genero": genero,
        "Usuario con Más Horas Jugadas": user_max,
        "Total de Horas Jugadas Por Año": horas_lista
    }
    return result2

In [31]:
UserForGenre("Action")

{'Genero': 'Action',
 'Usuario con Más Horas Jugadas': 'shinomegami',
 'Total de Horas Jugadas Por Año': [{'release_year': 1990,
   'playtime_hour': 2.3666666666666667},
  {'release_year': 1991, 'playtime_hour': 0.6833333333333333},
  {'release_year': 1992, 'playtime_hour': 0.1666666666666666},
  {'release_year': 1993, 'playtime_hour': 0.1166666666666666},
  {'release_year': 1994, 'playtime_hour': 27.433333333333334},
  {'release_year': 1995, 'playtime_hour': 186.25},
  {'release_year': 1996, 'playtime_hour': 1.4},
  {'release_year': 1997, 'playtime_hour': 15.983333333333334},
  {'release_year': 1998, 'playtime_hour': 113.18333333333334},
  {'release_year': 1999, 'playtime_hour': 1277.4},
  {'release_year': 2000, 'playtime_hour': 122.46666666666667},
  {'release_year': 2001, 'playtime_hour': 21.3},
  {'release_year': 2002, 'playtime_hour': 195.33333333333334},
  {'release_year': 2003, 'playtime_hour': 20109.35},
  {'release_year': 2004, 'playtime_hour': 212.06666666666666},
  {'release_year': 2005, 'playtime_hour': 759.3833333333333},
  {'release_year': 2006, 'playtime_hour': 3482.9},
  {'release_year': 2007, 'playtime_hour': 4217.116666666667},
  {'release_year': 2008, 'playtime_hour': 2395.3333333333335},
  {'release_year': 2009, 'playtime_hour': 113334.91666666667},
  {'release_year': 2010, 'playtime_hour': 7178.466666666666},
  {'release_year': 2011, 'playtime_hour': 264067.76666666666},
  {'release_year': 2012, 'playtime_hour': 232481.71666666667},
  {'release_year': 2013, 'playtime_hour': 622142.4},
  {'release_year': 2014, 'playtime_hour': 71330.05},
  {'release_year': 2015, 'playtime_hour': 174223.08333333334},
  {'release_year': 2016, 'playtime_hour': 56015.28333333333},
  {'release_year': 2017, 'playtime_hour': 112527.23333333334}]}

In [28]:
df_UserForGenre3 = pd.read_csv("data2/df_UsersForGenre3.csv")
df_UserForGenre3.columns

Index(['user_id', 'main_genre', 'year_posted', 'playtime_hour'], dtype='object')

In [29]:
def UserForGenre3( genero : str ):
    """
    Funcion que devuelve el usuario que acumula más horas jugadas para el género dado 
    y una lista de la acumulación de horas jugadas por año.
    """
    generos3 = df_UserForGenre3[df_UserForGenre3["main_genre"]== genero]
    user_max3 = generos3.loc[generos3["playtime_hour"].idxmax()]["user_id"]
    horas_x_año3 = generos3.groupby(["year_posted"])["playtime_hour"].sum().reset_index()
    horas_lista3 = horas_x_año3.to_dict(orient="records")
    result6 = {
        "Genero": genero,
        "Usuario con Más Horas Jugadas": user_max3,
        "Total de Horas Jugadas Por Año": horas_lista3
    }
    return result6

In [30]:
UserForGenre3("Action")

{'Genero': 'Action',
 'Usuario con Más Horas Jugadas': 'shinomegami',
 'Total de Horas Jugadas Por Año': [{'year_posted': 2010,
   'playtime_hour': 1818.4166666666667},
  {'year_posted': 2011, 'playtime_hour': 14224.816666666666},
  {'year_posted': 2012, 'playtime_hour': 43592.55},
  {'year_posted': 2013, 'playtime_hour': 507593.1333333333},
  {'year_posted': 2014, 'playtime_hour': 606151.4333333333},
  {'year_posted': 2015, 'playtime_hour': 513060.8}]}

## Funcion UsersRecommend

In [12]:
df_UsersRecommend = pd.read_csv("data2/df_UsersRecommend2.csv")
df_UsersRecommend

,year_posted,item_id,app_name,recommendation_count
0,2010,440,Team Fortress 2,10
1,2010,1250,Killing Floor,6
2,2010,630,Alien Swarm,4
3,2011,440,Team Fortress 2,72
4,2011,620,Portal 2,24
5,2011,105600,Terraria,20
6,2012,440,Team Fortress 2,234
7,2012,4000,Garry's Mod,36
8,2012,105600,Terraria,36
9,2013,440,Team Fortress 2,938
10,2013,730,Counter-Strike: Global Offensive,708
11,2013,4000,Garry's Mod,423
12,2014,440,Team Fortress 2,1397
13,2014,730,Counter-Strike: Global Offensive,932
14,2014,4000,Garry's Mod,667
15,2015,730,Counter-Strike: Global Offensive,1305
16,2015,440,Team Fortress 2,582
17,2015,4000,Garry's Mod,294

In [17]:
def UsersRecommend( año : int ):
    """
    Funcion que devuelve el top 3 de juegos MÁS recomendados por usuarios para el año dado.
    """
    df_año= df_UsersRecommend[df_UsersRecommend["year_posted"]== año]
    if df_año.empty:
        return "Año ingresado inválido o sin revisiones."
    df_ordenado_recomendacion = df_año.sort_values(by="recommendation_count", ascending=False)
    top_3_juegos = df_ordenado_recomendacion.head(3)[["app_name","recommendation_count"]]
    result3 ={
        "Año": año,
        "Top 3 Juegos Más Recomendados": top_3_juegos.to_dict(orient="records")
    }
    return result3

In [21]:
UsersRecommend(2012)

{'Año': 2012,
 'Top 3 Juegos Más Recomendados': [{'app_name': 'Team Fortress 2',
   'recommendation_count': 234},
  {'app_name': "Garry's Mod", 'recommendation_count': 36},
  {'app_name': 'Terraria', 'recommendation_count': 36}]}

## Funcion UsersWorstDeveloper

In [19]:
df_UsersWorstDeveloper = pd.read_csv("data2/df_UsersWorstDeveloper.csv")
df_UsersWorstDeveloper

    year_posted  item_id             developer  recommendation_count
0          2011      440                 Valve                     1
1          2011    18700          Broken Rules                     1
2          2011    33460   Ubisoft Montpellier                     1
3          2012      440                 Valve                     1
4          2012    42920          NeoCoreGames                     1
5          2012    55110              Volition                     1
6          2013   275850           Hello Games                    52
7          2013      730                 Valve                    32
8          2013      440                 Valve                    25
9          2014   221100   Bohemia Interactive                    19
10         2014      730                 Valve                    15
11         2014   104900  Trek Industries, Inc                    14
12         2015      730                 Valve                    45
13         2015   221100   Bohemia Interactive                    29
14         2015   252490     Facepunch Studios                    19

In [22]:
def UsersWorstDeveloper( año : int ):
    """
    Funcion que devuelve el top 3 de desarrolladoras con juegos MENOS 
    recomendados por usuarios para el año dado.
    """
    df_año2 = df_UsersWorstDeveloper[df_UsersWorstDeveloper["year_posted"]== año]
    if df_año2.empty:
        return "Año ingresado inválido o sin revisiones."
    df_ordenado_recomendacion2 = df_año2.sort_values(by="recommendation_count")
    top_3_developers = df_ordenado_recomendacion2.head(3)[["developer","recommendation_count"]]
    result4 = {
        'Año': año,
        'Top 3 Desarrolladoras Menos Recomendadas': top_3_developers.to_dict(orient="records")
    }
    return result4

In [26]:
UsersWorstDeveloper(2013)

{'Año': 2013,
 'Top 3 Desarrolladoras Menos Recomendadas': [{'developer': 'Valve',
   'recommendation_count': 25},
  {'developer': 'Valve', 'recommendation_count': 32},
  {'developer': 'Hello Games', 'recommendation_count': 52}]}

## Funciones sentiment_analysis

In [25]:
df_Sentiment_Analysis = pd.read_csv("data2/df_Sentiment_analysis.csv")
df_Sentiment_Analysis

,developer,sentiment_analysis,sentiment_analysis_count
0,07th Expansion,0,1
1,07th Expansion,1,2
2,"10th Art Studio,Adventure Productions",0,1
3,"10th Art Studio,Adventure Productions",1,1
4,10tons Ltd,1,1
...,...,...,...
3960,"インレ,Inre",1,4
3961,橘子班,0,1
3962,橘子班,1,2
3963,橘子班,2,1
3964,"高考恋爱委员会,橘子班",1,2

In [ ]:
def sentiment_analysis( desarrolladora : str ):
    """
    Funcion que devuelve un diccionario con el nombre de la desarrolladora como llave y una lista 
    con la cantidad total de registros de reseñas de usuarios que se encuentren categorizados con 
    un análisis de sentimiento como valor.
    """
    df_developer = df_Sentiment_Analysis[df_Sentiment_Analysis["developer"]== desarrolladora]