# Experimentación para la Elaboración de Funciones Cruciales para la API:
En esta fase, llevamos a cabo la creación y prueba de funciones esenciales para nuestra API, utilizando los datos disponibles. Este enfoque nos permite verificar la efectividad y eficiencia de las funciones en un entorno controlado. No obstante, al implementarlas finalmente, es posible que se requieran adaptaciones para cumplir con los requisitos específicos de FastAPI y Render.

In [1]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

## Funcion PlayTimeGenre

In [44]:
df_PlayTimeGenre = pd.read_csv("data2/df_PlayTimeGenre_hour_final1.csv")
df_PlayTimeGenre.columns

Index(['main_genre', 'release_year', 'playtime_hour'], dtype='object')

In [45]:
def PlayTimeGenre( genero : str ):
    """
    Funcion que devuelve el año con mas horas jugadas para dicho género.
    """
    generos = df_PlayTimeGenre[df_PlayTimeGenre["main_genre"]== genero] #Filtramos en el dataframe el genero que fue solicitado
    if generos.empty:  #Con esta linea nos aseguramos que si para ese genero no hay resultado se notifique
        return f"No se encontraron datos para el género {genero}"
    año_max = generos.loc[generos["playtime_hour"].idxmax()] #Primero identificamos la fila (indice) que tiene la máxima cantidad de horas jugadas para el género dado y posteriormente se selecciona esa fila a partir del indice
    result = {
        'Genero': genero,
        'Año con Más Horas Jugadas': int(año_max["release_year"]),
        'Total de Horas Jugadas': año_max["playtime_hour"]
    }

    return result

In [75]:
PlayTimeGenre("Action")

{'Genero': 'Action',
 'Año con Más Horas Jugadas': 2013,
 'Total de Horas Jugadas': 6419735.3}

## Funcion UserForGenre

In [2]:
df_UserForGenre = pd.read_csv("data2\df_UsersForGenre2_final.csv")
df_UserForGenre.columns

Index(['user_id', 'main_genre', 'release_year', 'playtime_hour'], dtype='object')

In [4]:
def UserForGenre( genero : str ):
    """
    Funcion que devuelve el usuario que acumula más horas jugadas para el género dado 
    y una lista de la acumulación de horas jugadas por año.
    """
    generos2 = df_UserForGenre[df_UserForGenre["main_genre"]== genero]
    user_max = generos2.loc[generos2["playtime_hour"].idxmax()]["user_id"]
    horas_x_año = generos2.groupby(["release_year"])["playtime_hour"].sum().reset_index()
    horas_lista = horas_x_año.rename(columns={"release_year": "Año", "playtime_hour": "Horas"}).to_dict(orient="records")    
    result2 = {
        "Genero": genero,
        "Usuario con Más Horas Jugadas": user_max,
        "Total de Horas Jugadas Por Año": horas_lista
    }
    return result2

In [5]:
UserForGenre("RPG")

{'Genero': 'RPG',
 'Usuario con Más Horas Jugadas': '76561198032459795',
 'Total de Horas Jugadas Por Año': [{'Año': 1997, 'Horas': 38.58333333333333},
  {'Año': 1998, 'Horas': 329.53333333333336},
  {'Año': 2002, 'Horas': 12.483333333333333},
  {'Año': 2003, 'Horas': 33.21666666666667},
  {'Año': 2004, 'Horas': 4.516666666666667},
  {'Año': 2005, 'Horas': 68.63333333333334},
  {'Año': 2007, 'Horas': 142.06666666666666},
  {'Año': 2008, 'Horas': 1680.6833333333332},
  {'Año': 2009, 'Horas': 303.5333333333333},
  {'Año': 2010, 'Horas': 1059.6666666666667},
  {'Año': 2011, 'Horas': 142.81666666666666},
  {'Año': 2012, 'Horas': 17676.55},
  {'Año': 2013, 'Horas': 1661.2333333333333},
  {'Año': 2014, 'Horas': 2739.2833333333333},
  {'Año': 2015, 'Horas': 29931.9},
  {'Año': 2016, 'Horas': 27.53333333333333}]}

In [67]:
df_UserForGenre3 = pd.read_csv("data2/df_UsersForGenre3_final.csv")
df_UserForGenre3.columns

Index(['user_id', 'main_genre', 'year_posted', 'playtime_hour'], dtype='object')

In [68]:
def UserForGenre3( genero : str ):
    """
    Funcion que devuelve el usuario que acumula más horas jugadas para el género dado 
    y una lista de la acumulación de horas jugadas por año.
    """
    generos3 = df_UserForGenre3[df_UserForGenre3["main_genre"]== genero]
    user_max3 = generos3.loc[generos3["playtime_hour"].idxmax()]["user_id"]
    horas_x_año3 = generos3.groupby(["year_posted"])["playtime_hour"].sum().reset_index()
    horas_lista3 = horas_x_año3.to_dict(orient="records")
    result6 = {
        "Genero": genero,
        "Usuario con Más Horas Jugadas": user_max3,
        "Total de Horas Jugadas Por Año": horas_lista3
    }
    return result6

In [69]:
UserForGenre3("Adventure")

{'Genero': 'Adventure',
 'Usuario con Más Horas Jugadas': '76561197972452208',
 'Total de Horas Jugadas Por Año': [{'year_posted': 2010,
   'playtime_hour': 5.233333333333333},
  {'year_posted': 2011, 'playtime_hour': 16.5},
  {'year_posted': 2012, 'playtime_hour': 463.45},
  {'year_posted': 2013, 'playtime_hour': 18430.966666666667},
  {'year_posted': 2014, 'playtime_hour': 8068.583333333333},
  {'year_posted': 2015, 'playtime_hour': 24429.566666666666}]}

## Funcion UsersRecommend

In [55]:
df_UsersRecommend = pd.read_csv("data2/df_UsersRecommend2_final.csv")
df_UsersRecommend

,year_posted,item_id,app_name,recommendation_count
0,2010,440,Team Fortress 2,10
1,2010,1250,Killing Floor,6
2,2010,630,Alien Swarm,4
3,2011,440,Team Fortress 2,72
4,2011,620,Portal 2,24
5,2011,105600,Terraria,20
6,2012,440,Team Fortress 2,234
7,2012,4000,Garry's Mod,36
8,2012,105600,Terraria,36
9,2013,440,Team Fortress 2,938
10,2013,730,Counter-Strike: Global Offensive,708
11,2013,4000,Garry's Mod,423
12,2014,440,Team Fortress 2,1397
13,2014,730,Counter-Strike: Global Offensive,932
14,2014,4000,Garry's Mod,667
15,2015,730,Counter-Strike: Global Offensive,1305
16,2015,440,Team Fortress 2,582
17,2015,4000,Garry's Mod,294

In [70]:
def UsersRecommend( año : int ):
    """
    Funcion que devuelve el top 3 de juegos MÁS recomendados por usuarios para el año dado.
    """
    df_año= df_UsersRecommend[df_UsersRecommend["year_posted"]== año]
    if type(año) != int:
        return {"Debes colocar el año en entero, Ejemplo:2012"}
    if año < df_UsersRecommend["year_posted"].min() or año > df_UsersRecommend["year_posted"].max():
        return {"Año no encontrado"}
    df_ordenado_recomendacion = df_año.sort_values(by="recommendation_count", ascending=False)
    top_3_juegos = df_ordenado_recomendacion.head(3)[["app_name","recommendation_count"]]
    result3 ={
        "Año": año,
        "Top 3 Juegos Más Recomendados": top_3_juegos.to_dict(orient="records")
    }
    return result3

In [71]:
UsersRecommend(2015)

{'Año': 2015,
 'Top 3 Juegos Más Recomendados': [{'app_name': 'Counter-Strike: Global Offensive',
   'recommendation_count': 1305},
  {'app_name': 'Team Fortress 2', 'recommendation_count': 582},
  {'app_name': "Garry's Mod", 'recommendation_count': 294}]}

## Funcion UsersWorstDeveloper

In [58]:
df_UsersWorstDeveloper = pd.read_csv("data2/df_UsersWorstDeveloper_final1.csv")
df_UsersWorstDeveloper

    year_posted             developer  recommendation_count
0          2011          Broken Rules                     1
1          2011   Ubisoft Montpellier                     1
2          2011                 Valve                     1
3          2012          NeoCoreGames                     1
4          2012                 Valve                     1
5          2012              Volition                     1
6          2013           Hello Games                    52
7          2013                 Valve                    57
8          2014   Bohemia Interactive                    19
9          2014  Trek Industries, Inc                    14
10         2014                 Valve                    15
11         2015   Bohemia Interactive                    29
12         2015     Facepunch Studios                    19
13         2015                 Valve                    45

In [72]:
def UsersWorstDeveloper( año : int ):
    """
    Funcion que devuelve el top 3 de desarrolladoras con juegos MENOS 
    recomendados por usuarios para el año dado.
    """
    df_año2 = df_UsersWorstDeveloper[df_UsersWorstDeveloper["year_posted"]== año]
    if type(año) != int:
        return {"Debes colocar el año en entero, Ejemplo:2012"}
    if año < df_UsersRecommend["year_posted"].min() or año > df_UsersRecommend["year_posted"].max():
        return {"Año no encontrado "}
    df_ordenado_recomendacion2 = df_año2.sort_values(by="recommendation_count", ascending=False)
    top_3_developers = df_ordenado_recomendacion2.head(3)[["developer","recommendation_count"]]
    result4 = {
        'Año': año,
        'Top 3 Desarrolladoras Menos Recomendadas': top_3_developers.to_dict(orient="records")
    }
    return result4

In [73]:
UsersWorstDeveloper(2015)

{'Año': 2015,
 'Top 3 Desarrolladoras Menos Recomendadas': [{'developer': 'Valve',
   'recommendation_count': 45},
  {'developer': 'Bohemia Interactive', 'recommendation_count': 29},
  {'developer': 'Facepunch Studios', 'recommendation_count': 19}]}

## Funciones sentiment_analysis

In [7]:
df_Sentiment_Analysis = pd.read_csv("data2/df_Sentiment_analysis_final.csv")
df_Sentiment_Analysis

,developer,sentiment_analysis,sentiment_analysis_count
0,07th Expansion,0,1
1,07th Expansion,1,2
2,"10th Art Studio,Adventure Productions",0,1
3,"10th Art Studio,Adventure Productions",1,1
4,10tons Ltd,1,1
...,...,...,...
3977,"インレ,Inre",1,4
3978,橘子班,0,1
3979,橘子班,1,2
3980,橘子班,2,1
3981,"高考恋爱委员会,橘子班",1,2

In [10]:
def sentiment_analysis( desarrolladora : str ):
    """
    Funcion que devuelve un diccionario con el nombre de la desarrolladora como llave y una lista 
    con la cantidad total de registros de reseñas de usuarios que se encuentren categorizados con 
    un análisis de sentimiento como valor.
    """
    if type(desarrolladora) != str:
        return "Debes colocar un developer de tipo str, EJ:'07th Expansion'"
    if len(desarrolladora) == 0:
        return "Debes colocar un developer en tipo String"
    df_developer = df_Sentiment_Analysis[df_Sentiment_Analysis["developer"]== desarrolladora]
    sentiment_counts = df_developer.groupby("sentiment_analysis")["sentiment_analysis_count"].sum().to_dict()
    sentiment_dicc = {0: "Negativo", 1: "Neutral", 2: "Positivo"}
    sentiment_counts = {sentiment_dicc[key]: value for key, value in sentiment_counts.items()}
    result50 = {desarrolladora: sentiment_counts}
    return result50

In [11]:
sentiment_analysis("Valve")

{'Valve': {'Negativo': 1058, 'Neutral': 4070, 'Positivo': 4330}}